html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
 
.overlay-wrapper {
    position: fixed;
    inset: 0;
}
 
#webcam-container {
    position: absolute;
    inset: 0;
    z-index: 1;
}
 
#webcam-container video,
#webcam-container canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
#image-display {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}
 
#image-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
 
#prediction {
    position: fixed;       
    bottom: 0;           
    left: 0;     
    width: 100%;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    padding: 10px 0;




}

.pr-eview{
    position: relative; left: 1020px; bottom: -10px;
    width: 450px; height: 250px;
    
}


